<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    
    <!-- Client settings -->
    
    <add key="Input Directory" value="C:\temp\input" />
    <add key="InProcess Directory" value="C:\temp\inprocess" />
    <add key="Error Directory" value="C:\temp\error" />
    <add key="Success Directory" value="C:\temp\success" />
    <add key="Status Polling Interval" value="20000" />
    
    <!-- Server side settings -->    
    
  <add key="Aad Tenant" value="conferenceboardca.onmicrosoft.com/login" />    
<add key="Azure Auth Endpoint" value="https://login.microsoftonline.com/" />    
<add key="Azure Client Id" value="3d79d7d5-3ef6-4c7e-a971-a338a8edde68" />    
<add key="Rainier Uri" value="https://cboctstaos.cloudax.dynamics.com" />    
<add key="User" value="mustard-demo@conferenceboard.ca" />    
<add key="Password" value="Clue365$" />
     
    <!-- Data transfer settings -->
    
    <add key="Recurring Job Id" value="41F9F550-DEF2-4AF0-A409-F682411D0289" />
    <add key="Entity Name" value="Customer groups" />
    <add key="Is Data Package" value="false" />
    <add key="Use Company" value="true" />
    <add key="Company" value="USMF" />
    <add key="Use FileName As ExternalCorrelation" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>